<!DOCTYPE html>
<html>

<head>
    <% include ./header.ejs %>
</head>

<body>
    <div class="termsPage_wrap">
        <div class="terms_main_container">
            <div class="terms_inner_wrap">
                <div class="temrs_title">
                    <span class="backBtn"><</span>
                    서비스 이용 약관
                </div>
                <div class="temrs_content">
                    <div class="temrs_text">Lorem ipsum dolor sit,<br>
                        amet consectetur adipisicing elit<br>
                        . Amet odit sunt expedita itaque,<br>
                         omnis molestiae, harum nostrum qui ad vel quis obcaecati molestias est tenetur,<br>
                          ea architecto nisi velit culpa.<br><br>
                          t<br>e<br>s<br>t<br><br>t<br>e<br>s<br>t<br><br>t<bre><br>s<br>t<br><br>t<br>e<br>s<br>t<br><br>
                            t<br>e<br>s<br>t<br><br>t<br>e<br>s<br>t<br><br>t<bre><br>s<br>t<br><br>t<br>e<br>s<br>t<br><br>
                    </div>
                </div>
            </div>
            <div class="acceptBtn">
                <a>확인</a>
            </div>
        </div>
        <% include ./footer.ejs %>
    </div>
</body>

</html>